* {
    cursor: url('./img/crosshair.png'), auto;
    padding: unset;
    margin: unset;
}

main {
    height: 100vh;
    width: 100vw;
}

.bord{
    width: 100px;
    height: 100px;

    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.gun {
    width: 200px;
    height: 200px;

    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}
.game-ui {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}