* {
    cursor: url('./img/crosshair.png'), auto;
    padding: unset;
    margin: unset;
    overflow: hidden;
}

main {
    height: 100vh;
    width: 100vw;
}

.bord{
    width: 100px;
    height: 100px;

    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.gun {
    width: 400px;
    height: 400px;

    position: absolute;

    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-ui {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0 20px;
    background-color: #0d043d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    color:#e5ff00;
}

p {
    color: #00ff44;
    font-size: 20px;
}